body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
}

h3 {
  font-size: 28px;
}

ul {
  margin: 0;
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

p {
  text-align: center;
  margin-bottom: 0;
}
.container {
  background-image: url(https://elaborate-gumption-c03741.netlify.app/images/malmo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 665px;
  margin-left: 0px;
  margin-right: 0px;
}

.weather-app-wrapper {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -360px;
  margin-top: -200px;
}

.weather-app {
  max-width: 700px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 30px;
  background: linear-gradient(to top, #84a2d8 0%, #2876a7 100%);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.last-updated {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.conditions {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 7px;
}

.current-day {
  font-size: 42px;
}

h3,
.current-day,
.weather-temperature {
  text-align: right;
  margin-bottom: 8px;
}

.current-weather {
  padding-right: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weather-temperature strong {
  color: #fff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 22px;
  top: -32px;
}

a:link {
  text-decoration: none;
}

.weather-temperature .active:hover {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast-date {
  font-size: 24px;
  font-weight: bold;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 22px;
}

.col-2 {
  margin-left: 20px;
}

#search-form {
  margin-left: 15px;
}

.btn-primary {
  background-color: #fff;
  color: #2876a7;
  font-weight: bold;
}
